[submodule "my_plugins/ale"]
	path = my_plugins/ale
	url = https://github.com/dense-analysis/ale
[submodule "my_plugins/vim-autoclose"]
	path = my_plugins/vim-autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "my_plugins/vim-cpp-enhanced-highlight"]
	path = my_plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "my_plugins/vim-numbertoggle"]
	path = my_plugins/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "my_plugins/vim-autopep8"]
	path = my_plugins/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "my_plugins/ropevim"]
	path = my_plugins/ropevim
	url = https://github.com/python-rope/ropevim
[submodule "my_plugins/vim-virtualenv"]
	path = my_plugins/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "my_plugins/tabnine-vim2"]
	path = my_plugins/tabnine-vim2
	url = https://github.com/codota/tabnine-vim
